<h1>Live Market</h1>
<div class="col-lg-6 col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th style="text-align: left" colspan="1">Currency</th>
                <th colspan="1" style="text-align: right">LTP</th>
                <th colspan="1" style="text-align: right">Prev. close</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="text-align: left">USD-INR</td>
                <td style="text-align: right">65.4535</td>
                <td style="text-align: right">66.7075</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td style="text-align: left">EUR-USD</td>
                <td style="text-align: right">1.07851</td>
                <td style="text-align: right">1.0604</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">JPY-USD</td>
                <td style="text-align: right">110.6550</td>
                <td style="text-align: right;">111.0604</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">JPY-USD</td>
                <td style="text-align: right">110.6550</td>
                <td style="text-align: right;">111.0604</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">JPY-USD</td>
                <td style="text-align: right">110.6550</td>
                <td style="text-align: right;">111.0604</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-6 col-md-12">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th colspan="1" style="text-align: left">Commodity</th>
                <th colspan="1" style="text-align: right">LTP</th>
                <th colspan="1" style="text-align: right">Prev. close</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="text-align: left">Gold</td>
                <td style="text-align: right">29561</td>
                <td style="text-align: right">29566</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td style="text-align: left">Silver</td>
                <td style="text-align: right">43263</td>
                <td style="text-align: right">43265</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Crudeoil</td>
                <td style="text-align: right">21091</td>
                <td style="text-align: right">21089</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Crudeoil</td>
                <td style="text-align: right">21091</td>
                <td style="text-align: right">21089</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Crudeoil</td>
                <td style="text-align: right">21091</td>
                <td style="text-align: right">21089</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-6">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th style="text-align: left" colspan="1">Fixed Income</th>
                <th colspan="1" style="text-align: right">LTP</th>
                <th colspan="1" style="text-align: right">Prev. close</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="text-align: left">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right">@fat</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td style="text-align: left">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right">@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right;">@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right;">@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right;">@fat</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-6">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th style="text-align: left" colspan="2">Equity</th>
                <th colspan="1" style="text-align: right">LTP</th>
                <th colspan="1" style="text-align: right">Prev. close</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td style="text-align: left" colspan="2">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right">@fat</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td style="text-align: left" colspan="2">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right">@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td style="text-align: left" colspan="2">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right;">@fat</td>
            </tr>            <tr>
                <th scope="row">3</th>
                <td style="text-align: left" colspan="2">Jacob</td>
                <td style="text-align: right">Thornton</td>
                <td style="text-align: right;">@fat</td>
            </tr>            <tr><th scope="row">
    3</th>
<td style="text-align: left" colspan="2">Jacob</td>
<td style="text-align: right">Thornton</td>
<td style="text-align: right;">@fat</td>
</tr>
        </tbody>
    </table>
</div>
